## <span style="color: yellow;"> Cleaning Data</span>

Bad data could be empty cells, wrong format, wrong data, duplicates  
.dropna .fillna .duplicated  
.mean .median .mode

In [2]:
# Read file
# data file data1.xlsx
import pandas as pd

path="C:/Users/User/Desktop/project 1/VS/data_folder/"
file_name="data1.xlsx"
df = pd.read_excel(f"{path}{file_name}")
print(df)

    Workmin                 Date  Spend  Tips  Incomes
0        60         '2020/12/01'    110   130    409.1
1        60         '2020/12/02'    117   145    479.0
2        60         '2020/12/03'    103   135    340.0
3        45         '2020/12/04'    109   175    282.4
4        45         '2020/12/05'    117   148    406.0
5        60         '2020/12/06'    102   127    300.0
6        60         '2020/12/07'    110   136    374.0
7       450         '2020/12/08'    104   134    253.3
8        30         '2020/12/09'    109   133    195.1
9        60         '2020/12/10'     98   124    269.0
10       60         '2020/12/11'    103   147    329.3
11       60         '2020/12/12'    100   120    250.7
12       60         '2020/12/12'    100   120    250.7
13       60         '2020/12/13'    106   128    345.3
14       60         '2020/12/14'    104   132    379.3
15       60         '2020/12/15'     98   123    275.0
16       60         '2020/12/16'     98   120    215.2
17       60         '2020/12/17'    100   120    300.0
18       45         '2020/12/18'     90   112      NaN
19       60         '2020/12/19'    103   123    323.0
20       45         '2020/12/20'     97   125    243.0
21       60         '2020/12/21'    108   131    364.2
22       45                  NaN    100   119    282.0
23       60         '2020/12/23'    130   101    300.0
24       45         '2020/12/24'    105   132    246.0
25       60         '2020/12/25'    102   126    334.5
26       60  2020-12-26 00:00:00    100   120    250.0
27       60         '2020/12/27'     92   118    241.0
28       60         '2020/12/28'    103   132      NaN
29       60         '2020/12/29'    100   132    280.0
30       60         '2020/12/30'    102   129    380.3
31       60         '2020/12/31'     92   115    243.0

## <span style="color: yellow;"> Remove Empty Cell (ie NaN)</span>
.dropna

In [3]:
#remove rows that contain empty cells, .dropna()

import pandas as pd
path="C:/Users/User/Desktop/project 1/VS/data_folder/"
file_name="data1.xlsx"
df = pd.read_excel(f"{path}{file_name}")

drop_empty_df = df.dropna()

# Pandas distionction between str and object types, object can be number
# to_string() directly transfer the pd.DataFrame object to a string object,
# print no display limit
print(drop_empty_df.to_string()) #row 18, 22, 28 NaN removed

#dropna() returns a new DataFrame, and will not change the original.
#Replace original uses dropna(inplace = True)

    Workmin                 Date  Spend  Tips  Incomes
0        60         '2020/12/01'    110   130    409.1
1        60         '2020/12/02'    117   145    479.0
2        60         '2020/12/03'    103   135    340.0
3        45         '2020/12/04'    109   175    282.4
4        45         '2020/12/05'    117   148    406.0
5        60         '2020/12/06'    102   127    300.0
6        60         '2020/12/07'    110   136    374.0
7       450         '2020/12/08'    104   134    253.3
8        30         '2020/12/09'    109   133    195.1
9        60         '2020/12/10'     98   124    269.0
10       60         '2020/12/11'    103   147    329.3
11       60         '2020/12/12'    100   120    250.7
12       60         '2020/12/12'    100   120    250.7
13       60         '2020/12/13'    106   128    345.3
14       60         '2020/12/14'    104   132    379.3
15       60         '2020/12/15'     98   123    275.0
16       60         '2020/12/16'     98   120    215.2
17       60         '2020/12/17'    100   120    300.0
19       60         '2020/12/19'    103   123    323.0
20       45         '2020/12/20'     97   125    243.0
21       60         '2020/12/21'    108   131    364.2
23       60         '2020/12/23'    130   101    300.0
24       45         '2020/12/24'    105   132    246.0
25       60         '2020/12/25'    102   126    334.5
26       60  2020-12-26 00:00:00    100   120    250.0
27       60         '2020/12/27'     92   118    241.0
29       60         '2020/12/29'    100   132    280.0
30       60         '2020/12/30'    102   129    380.3
31       60         '2020/12/31'     92   115    243.0


## <span style="color: yellow;"> Replace empty cell with a new value</span>

.fillna

In [4]:
#insert a new value, fillna()

import pandas as pd
path="C:/Users/User/Desktop/project 1/VS/data_folder/"
file_name="data1.xlsx"
df = pd.read_excel(f"{path}{file_name}")

df.fillna(130, inplace = True) #replace all empty cells with a value (130)
print(df.to_string())

    Workmin                 Date  Spend  Tips  Incomes
0        60         '2020/12/01'    110   130    409.1
1        60         '2020/12/02'    117   145    479.0
2        60         '2020/12/03'    103   135    340.0
3        45         '2020/12/04'    109   175    282.4
4        45         '2020/12/05'    117   148    406.0
5        60         '2020/12/06'    102   127    300.0
6        60         '2020/12/07'    110   136    374.0
7       450         '2020/12/08'    104   134    253.3
8        30         '2020/12/09'    109   133    195.1
9        60         '2020/12/10'     98   124    269.0
10       60         '2020/12/11'    103   147    329.3
11       60         '2020/12/12'    100   120    250.7
12       60         '2020/12/12'    100   120    250.7
13       60         '2020/12/13'    106   128    345.3
14       60         '2020/12/14'    104   132    379.3
15       60         '2020/12/15'     98   123    275.0
16       60         '2020/12/16'     98   120    215.2
17       60         '2020/12/17'    100   120    300.0
18       45         '2020/12/18'     90   112    130.0
19       60         '2020/12/19'    103   123    323.0
20       45         '2020/12/20'     97   125    243.0
21       60         '2020/12/21'    108   131    364.2
22       45                  130    100   119    282.0
23       60         '2020/12/23'    130   101    300.0
24       45         '2020/12/24'    105   132    246.0
25       60         '2020/12/25'    102   126    334.5
26       60  2020-12-26 00:00:00    100   120    250.0
27       60         '2020/12/27'     92   118    241.0
28       60         '2020/12/28'    103   132    130.0
29       60         '2020/12/29'    100   132    280.0
30       60         '2020/12/30'    102   129    380.3
31       60         '2020/12/31'     92   115    243.0

## <span style="color: yellow;"> Replace NULL values only in the "income" columns</span>

In [5]:
#Replace NULL values only in the "Calories" column with the number 130:

import pandas as pd
path="C:/Users/User/Desktop/project 1/VS/data_folder/"
file_name="data1.xlsx"
df = pd.read_excel(f"{path}{file_name}")

df['Incomes'].fillna(130, inplace = True) #replace only the empty cells 18,28 in "Incomes" (space count) with a 130
print(df.to_string())

    Workmin                 Date  Spend  Tips  Incomes
0        60         '2020/12/01'    110   130    409.1
1        60         '2020/12/02'    117   145    479.0
2        60         '2020/12/03'    103   135    340.0
3        45         '2020/12/04'    109   175    282.4
4        45         '2020/12/05'    117   148    406.0
5        60         '2020/12/06'    102   127    300.0
6        60         '2020/12/07'    110   136    374.0
7       450         '2020/12/08'    104   134    253.3
8        30         '2020/12/09'    109   133    195.1
9        60         '2020/12/10'     98   124    269.0
10       60         '2020/12/11'    103   147    329.3
11       60         '2020/12/12'    100   120    250.7
12       60         '2020/12/12'    100   120    250.7
13       60         '2020/12/13'    106   128    345.3
14       60         '2020/12/14'    104   132    379.3
15       60         '2020/12/15'     98   123    275.0
16       60         '2020/12/16'     98   120    215.2
17       60         '2020/12/17'    100   120    300.0
18       45         '2020/12/18'     90   112    130.0
19       60         '2020/12/19'    103   123    323.0
20       45         '2020/12/20'     97   125    243.0
21       60         '2020/12/21'    108   131    364.2
22       45                  NaN    100   119    282.0
23       60         '2020/12/23'    130   101    300.0
24       45         '2020/12/24'    105   132    246.0
25       60         '2020/12/25'    102   126    334.5
26       60  2020-12-26 00:00:00    100   120    250.0
27       60         '2020/12/27'     92   118    241.0
28       60         '2020/12/28'    103   132    130.0
29       60         '2020/12/29'    100   132    280.0
30       60         '2020/12/30'    102   129    380.3
31       60         '2020/12/31'     92   115    243.0

## <span style="color: yellow;"> Calculate the MEAN</span>
.mean

In [6]:
#Calculate the MEAN, and replace any empty values with it:

import pandas as pd
path="C:/Users/User/Desktop/project 1/VS/data_folder/"
file_name="data1.xlsx"
df = pd.read_excel(f"{path}{file_name}")

x = df["Incomes"].mean() # get the mean value
print('mean value: ',x)
newx_df=df["Incomes"].fillna(x) # fill the space with the mean value
print(newx_df.to_string())

mean value:  304.68
0     409.10
1     479.00
2     340.00
3     282.40
4     406.00
5     300.00
6     374.00
7     253.30
8     195.10
9     269.00
10    329.30
11    250.70
12    250.70
13    345.30
14    379.30
15    275.00
16    215.20
17    300.00
18    304.68
19    323.00
20    243.00
21    364.20
22    282.00
23    300.00
24    246.00
25    334.50
26    250.00
27    241.00
28    304.68
29    280.00
30    380.30
31    243.00

## <span style="color: yellow;"> MEDIAN</span>

In [7]:
#Calculate the MEDIAN, Median = the value in the middle,
# and replace an empty values with it:

import pandas as pd
path="C:/Users/User/Desktop/project 1/VS/data_folder/"
file_name="data1.xlsx"
df = pd.read_excel(f"{path}{file_name}")
print(type(df))

y = df["Incomes"].median()
print('median: ',y)
newy_df=df["Incomes"].fillna(y)
print(newy_df.to_string())

<class 'pandas.core.frame.DataFrame'>
median:  291.2
0     409.1
1     479.0
2     340.0
3     282.4
4     406.0
5     300.0
6     374.0
7     253.3
8     195.1
9     269.0
10    329.3
11    250.7
12    250.7
13    345.3
14    379.3
15    275.0
16    215.2
17    300.0
18    291.2
19    323.0
20    243.0
21    364.2
22    282.0
23    300.0
24    246.0
25    334.5
26    250.0
27    241.0
28    291.2
29    280.0
30    380.3
31    243.0

## <span style="color: yellow;"> Calculate the MODE</span>
.mode

In [8]:
#Calculate Mode = the value that appears most frequently.

import pandas as pd
path="C:/Users/User/Desktop/project 1/VS/data_folder/"
file_name="data1.xlsx"
df = pd.read_excel(f"{path}{file_name}")

z = df["Incomes"].mode()[0] # mode([0]) return single value
print('mode: ',z)
df["Incomes"].fillna(z, inplace = True)
#print(df.to_string())
#print(df.loc[0])
print(df.tail(10))

mode:  300.0
    Workmin                 Date  Spend  Tips  Incomes
22       45                  NaN    100   119    282.0
23       60         '2020/12/23'    130   101    300.0
24       45         '2020/12/24'    105   132    246.0
25       60         '2020/12/25'    102   126    334.5
26       60  2020-12-26 00:00:00    100   120    250.0
27       60         '2020/12/27'     92   118    241.0
28       60         '2020/12/28'    103   132    300.0
29       60         '2020/12/29'    100   132    280.0
30       60         '2020/12/30'    102   129    380.3
31       60         '2020/12/31'     92   115    243.0

### Replace the wrong format

In [9]:
# either REMOVE the rows, or CONVERY all cells in the columns into the same format,
# changed to use data1.xlsx for aligned spacing

import pandas as pd
path="C:/Users/User/Desktop/project 1/VS/data_folder/"
file_name="data1.xlsx"
df = pd.read_excel(f"{path}{file_name}")

print('orginal wrong datetime format at row 26*****')
print(df.loc[26])
df['Date'] = pd.to_datetime(df['Date']) #correct datetime format at row 26
print('corrected datetime format at row 26*****')
print(df.tail(10))

orginal wrong datetime format at row 26*****
Workmin                     60
Date       2020-12-26 00:00:00
Spend                      100
Tips                       120
Incomes                  250.0
Name: 26, dtype: object
corrected datetime format at row 26*****
    Workmin       Date  Spend  Tips  Incomes
22       45        NaT    100   119    282.0
23       60 2020-12-23    130   101    300.0
24       45 2020-12-24    105   132    246.0
25       60 2020-12-25    102   126    334.5
26       60 2020-12-26    100   120    250.0
27       60 2020-12-27     92   118    241.0
28       60 2020-12-28    103   132      NaN
29       60 2020-12-29    100   132    280.0
30       60 2020-12-30    102   129    380.3
31       60 2020-12-31     92   115    243.0

### Rename the Wrong Data either remove it or set to a new value

In [10]:
# row 7, the duration is 450, but for all the other rows the durion 
# is between 30 and 60
import pandas as pd
path="C:/Users/User/Desktop/project 1/VS/data_folder/"
file_name="data1.xlsx"
df = pd.read_excel(f"{path}{file_name}")
#Set "Workmin" to 45 in row 7 for small dataset
print('orginal value')
print(df.loc[7,'Workmin'])
df.loc[7, 'Workmin'] = 45
print('after correction')
print(df.head(10))

orginal value
450
after correction
   Workmin          Date  Spend  Tips  Incomes
0       60  '2020/12/01'    110   130    409.1
1       60  '2020/12/02'    117   145    479.0
2       60  '2020/12/03'    103   135    340.0
3       45  '2020/12/04'    109   175    282.4
4       45  '2020/12/05'    117   148    406.0
5       60  '2020/12/06'    102   127    300.0
6       60  '2020/12/07'    110   136    374.0
7       45  '2020/12/08'    104   134    253.3
8       30  '2020/12/09'    109   133    195.1
9       60  '2020/12/10'     98   124    269.0

In [11]:
import pandas as pd
path="C:/Users/User/Desktop/project 1/VS/data_folder/"
file_name="data1.xlsx"
df = pd.read_excel(f"{path}{file_name}")
# for x in df.index:
#     if df.loc[x,"Workmin"] > 120:
#         df.loc[x, "Workmin"] = 120
# print(df.head(10)) # row 7 =120
## or Loop though all values in the "Duration" column. If the value is higher than 120

for x in df.index:
    if df.loc[x,"Workmin"] > 120:
        df.loc[x, "Workmin"] = 120
print(df.head(10)) # row 7 =120

   Workmin          Date  Spend  Tips  Incomes
0       60  '2020/12/01'    110   130    409.1
1       60  '2020/12/02'    117   145    479.0
2       60  '2020/12/03'    103   135    340.0
3       45  '2020/12/04'    109   175    282.4
4       45  '2020/12/05'    117   148    406.0
5       60  '2020/12/06'    102   127    300.0
6       60  '2020/12/07'    110   136    374.0
7      120  '2020/12/08'    104   134    253.3
8       30  '2020/12/09'    109   133    195.1
9       60  '2020/12/10'     98   124    269.0

## <span style="color: yellow;"> Remove Duplicates</span>

.duplicated

In [12]:
# row 11 and 12 are duplicates

import pandas as pd
path="C:/Users/User/Desktop/project 1/VS/data_folder/"
file_name="data1.xlsx"
df = pd.read_excel(f"{path}{file_name}")

print(df)

    Workmin                 Date  Spend  Tips  Incomes
0        60         '2020/12/01'    110   130    409.1
1        60         '2020/12/02'    117   145    479.0
2        60         '2020/12/03'    103   135    340.0
3        45         '2020/12/04'    109   175    282.4
4        45         '2020/12/05'    117   148    406.0
5        60         '2020/12/06'    102   127    300.0
6        60         '2020/12/07'    110   136    374.0
7       450         '2020/12/08'    104   134    253.3
8        30         '2020/12/09'    109   133    195.1
9        60         '2020/12/10'     98   124    269.0
10       60         '2020/12/11'    103   147    329.3
11       60         '2020/12/12'    100   120    250.7
12       60         '2020/12/12'    100   120    250.7
13       60         '2020/12/13'    106   128    345.3
14       60         '2020/12/14'    104   132    379.3
15       60         '2020/12/15'     98   123    275.0
16       60         '2020/12/16'     98   120    215.2
17       60         '2020/12/17'    100   120    300.0
18       45         '2020/12/18'     90   112      NaN
19       60         '2020/12/19'    103   123    323.0
20       45         '2020/12/20'     97   125    243.0
21       60         '2020/12/21'    108   131    364.2
22       45                  NaN    100   119    282.0
23       60         '2020/12/23'    130   101    300.0
24       45         '2020/12/24'    105   132    246.0
25       60         '2020/12/25'    102   126    334.5
26       60  2020-12-26 00:00:00    100   120    250.0
27       60         '2020/12/27'     92   118    241.0
28       60         '2020/12/28'    103   132      NaN
29       60         '2020/12/29'    100   132    280.0
30       60         '2020/12/30'    102   129    380.3
31       60         '2020/12/31'     92   115    243.0

In [13]:
# find duplicate

print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [14]:
#remove duplicates

df.drop_duplicates(inplace = True)
print(df) # row 12 removed

    Workmin                 Date  Spend  Tips  Incomes
0        60         '2020/12/01'    110   130    409.1
1        60         '2020/12/02'    117   145    479.0
2        60         '2020/12/03'    103   135    340.0
3        45         '2020/12/04'    109   175    282.4
4        45         '2020/12/05'    117   148    406.0
5        60         '2020/12/06'    102   127    300.0
6        60         '2020/12/07'    110   136    374.0
7       450         '2020/12/08'    104   134    253.3
8        30         '2020/12/09'    109   133    195.1
9        60         '2020/12/10'     98   124    269.0
10       60         '2020/12/11'    103   147    329.3
11       60         '2020/12/12'    100   120    250.7
13       60         '2020/12/13'    106   128    345.3
14       60         '2020/12/14'    104   132    379.3
15       60         '2020/12/15'     98   123    275.0
16       60         '2020/12/16'     98   120    215.2
17       60         '2020/12/17'    100   120    300.0
18       45         '2020/12/18'     90   112      NaN
19       60         '2020/12/19'    103   123    323.0
20       45         '2020/12/20'     97   125    243.0
21       60         '2020/12/21'    108   131    364.2
22       45                  NaN    100   119    282.0
23       60         '2020/12/23'    130   101    300.0
24       45         '2020/12/24'    105   132    246.0
25       60         '2020/12/25'    102   126    334.5
26       60  2020-12-26 00:00:00    100   120    250.0
27       60         '2020/12/27'     92   118    241.0
28       60         '2020/12/28'    103   132      NaN
29       60         '2020/12/29'    100   132    280.0
30       60         '2020/12/30'    102   129    380.3
31       60         '2020/12/31'     92   115    243.0

## <span style="color: yellow;"> Describe Data</span>

Get information and descriptive statistics abouta DataFrame

In [15]:
# Read file
# data file data1.xlsx
import pandas as pd

path="C:/Users/User/Desktop/project 1/VS/data_folder/"
file_name="data1.xlsx"
df = pd.read_excel(f"{path}{file_name}")
df

    Workmin                 Date  Spend  Tips  Incomes
0        60         '2020/12/01'    110   130    409.1
1        60         '2020/12/02'    117   145    479.0
2        60         '2020/12/03'    103   135    340.0
3        45         '2020/12/04'    109   175    282.4
4        45         '2020/12/05'    117   148    406.0
5        60         '2020/12/06'    102   127    300.0
6        60         '2020/12/07'    110   136    374.0
7       450         '2020/12/08'    104   134    253.3
8        30         '2020/12/09'    109   133    195.1
9        60         '2020/12/10'     98   124    269.0
10       60         '2020/12/11'    103   147    329.3
11       60         '2020/12/12'    100   120    250.7
12       60         '2020/12/12'    100   120    250.7
13       60         '2020/12/13'    106   128    345.3
14       60         '2020/12/14'    104   132    379.3
15       60         '2020/12/15'     98   123    275.0
16       60         '2020/12/16'     98   120    215.2
17       60         '2020/12/17'    100   120    300.0
18       45         '2020/12/18'     90   112      NaN
19       60         '2020/12/19'    103   123    323.0
20       45         '2020/12/20'     97   125    243.0
21       60         '2020/12/21'    108   131    364.2
22       45                  NaN    100   119    282.0
23       60         '2020/12/23'    130   101    300.0
24       45         '2020/12/24'    105   132    246.0
25       60         '2020/12/25'    102   126    334.5
26       60  2020-12-26 00:00:00    100   120    250.0
27       60         '2020/12/27'     92   118    241.0
28       60         '2020/12/28'    103   132      NaN
29       60         '2020/12/29'    100   132    280.0
30       60         '2020/12/30'    102   129    380.3
31       60         '2020/12/31'     92   115    243.0

### Get descriptive statistics about a DataFrame

In [16]:
df.describe()

          Workmin       Spend        Tips     Incomes
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

### Get all statistics about a DataFrame

In [17]:
df.describe(include='all')

           Workmin          Date       Spend        Tips     Incomes
count    32.000000            31   32.000000   32.000000   30.000000
unique         NaN            30         NaN         NaN         NaN
top            NaN  '2020/12/12'         NaN         NaN         NaN
freq           NaN             2         NaN         NaN         NaN
mean     68.437500           NaN  103.500000  128.500000  304.680000
std      70.039591           NaN    7.832933   12.998759   66.003779
min      30.000000           NaN   90.000000  101.000000  195.100000
25%      60.000000           NaN  100.000000  120.000000  250.700000
50%      60.000000           NaN  102.500000  127.500000  291.200000
75%      60.000000           NaN  106.500000  132.250000  343.975000
max     450.000000           NaN  130.000000  175.000000  479.000000